%div.container

  %h1 Willkommen auf meiner Website!


  %div.row
    %div.col-xs-4
      %ul{class:'nav nav-pills nav-stacked'}
        %li{:active => "Menü"}
          %a{:href => "Menü"}Menü
        %li{:active => "Menü"}
          %a{:href => "Menü"}Menü
        %li{:active => "Menü"}
          %a{:href => "Menü"}Menü
        %li{:active => "Menü"}
          %a{:href => "Menü"}Menü
              
        
    %div.col-xs-4
      %h3 Baum
      %img{:src => "pear_tree.png"}
    %div.col-xs-4
      %h3 Baum
      %img{:src => "hazelnut_tree.png"}



  %p= "Link zur einer bekannten Suchmaschine:"
  %a{:href => "http://www.google.de"} Google